@using ExpenseTracker.Models.Services
@using ExpenseTracker.Models
@inject IJSRuntime JS

@inject GetItemService GetItemService
@inject AuthenticationStateProvider AuthenticationStateProvider


<div id="myChart" style="width:100%; height:400px;"></div>
<h3>Expense List</h3>
<p>@(expenses == null ? "You have 0 expenses added" : $"expenses count: {expenses.Count}")</p>
@if (expenses == null)
{
    <p>No expenses found</p>
}
else
{
    
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in expenses)
            {
                <tr>
                    <td>@expense.Description</td>
                    <td>@expense.Amount</td>
                    <td>@(expense.Category)</td>
                    <td>@expense.Date.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>

}



@code {

    private List<Expense>? expenses;
    private List<Income>? incomes;



    public async Task RefreshExpensesAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            var userId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
            Console.WriteLine(userId);
           
            if (!string.IsNullOrEmpty(userId))
            {
            expenses = await GetItemService.GetUserExpensesAsync(userId);
            Console.WriteLine(expenses);
                // Process for Highcharts
                var chartData = expenses
                .GroupBy(e => e.Category)
                .Select(g => new
                {
                    category = g.Key,
                    amount = g.Sum(e => e.Amount)
                    }).ToList();

                // Render chart after component renders
                await JS.InvokeVoidAsync("renderExpenseChart", "myChart", chartData);
                StateHasChanged(); // Ensure re-render
                
            }
        }
    }
    protected override async Task OnInitializedAsync()
    {
        await RefreshExpensesAsync();
    }


}
